/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
   color: #fff;
   background-color: #333;
   padding: 10px;
}
img {
   width: 100px;
   height: auto;
}
.slider {
   position: relative;
   padding: 0 60px;
}
.slider-item {
   display: flex;
   flex-direction: column;
   text-align: center;
}
.slick-track {
   display: flex;
}
.slick-list {
   overflow: hidden;
}
.slider .slick-arrow {
   position: absolute;
   top: 50%;
   margin: -30px 0 0 0;
   z-index: 10;
   font-size: 0;
   width: 30px;
   height: 60px;
}
.slider .slick-prev.slick-arrow {
   left: 0;
   background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}

.slider .slick-next.slick-arrow {
   right: 0;
   background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}


.slider .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.slider .slick-dots li {
   list-style: none;
   margin: 10px 10px;
}

.slider .slick-dots button {
   background-color: #fff;
   font-size: 0;
   width: 10px;
   height: 10px;
   border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
   background-color: transparent;
   border: 1px solid #fff;
}